<div>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd">
    <form class="container-fluid justify-content-start">
      <button class="btn btn-outline-success me-2 colorbuton" type="button">
        Iniciar Juego
      </button>
      <button
        class="btn btn-sm btn-outline-secondary"
        type="button"
        (click)="cambio()"
      >
        Configurar Juego
      </button>
    </form>
  </nav>
</div>
<ng-container *ngIf="estado; else elseTemplate">
  <app-configurar-juego (estado)="cerrar($event)"></app-configurar-juego>
</ng-container>
<ng-template #elseTemplate> </ng-template>
